* {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.resume {
  width: 80%;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.3);
  padding: 0.8rem;

  .resume__name {
    font-size: 1.6rem;
    text-align: center;

    h1 {
      margin: 0.2rem;
    }
  }

  hr {
    margin: 0.1rem;
  }

  .resume__contact {
    text-align: center;
  }

  .resume__summary {
    p {
      margin: 0.6rem;
      text-align: justify;
    }
  }

  .resume__work__history {
    .resume__work__history__section {
      margin: 0 0.9rem;
      text-align: justify;

      ul {
        padding: 0 2rem;
      }
    }
  }
}
